.card {
  position: relative;
  max-width: calc(50% - 40px);
  width: 100%;
  min-height: 434px;
  padding: 40px;
  border: 2px solid #F6F6F6 !important;
}

.card__title {
  margin: 0 0 5px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  /* Text/Blue */
  color: #2F80ED;
  text-align: left;
  z-index: 7;
}

.card__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card__subtitle {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  /* or 22px */

  /* Text/Grey */
  color: #828282;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__group {
  display: flex;
  flex-direction: column;
}

.card__img {
  margin-bottom: 30px;
  padding-right: 10px;
  max-width: 255px;
  width: 100%;
  height: 211px;
}

.card__all-chars-text {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__all-chars-text svg {
  margin-right: 12px;
}

.card__chars {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.card__chars-item {
  position: relative;
  padding-left: 34px;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* Text/Black */
  color: #000000;
}

.card__chars-item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 10px;
  background: url("../img/icons/galka.svg") no-repeat;
  left: 0;
  top: 5px;
}

.card__chars-item:last-child {
  margin-bottom: 0;
}

.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 67px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* Text/White */
  color: #FFFFFF;
  transition: transform 0.25s;
  z-index: 9;
}

.card__btn:hover {
  background: #2976DD;
  transition: transform 0.25s;
}

.card__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.card-price__old {
  margin-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: line-through;
  text-decoration-color: #EB5757;

  /* Text/Black */
  color: #000000;
}

.card-price__current {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  /* Text/Black */
  color: #000000;
}

@media (max-width: 1279px) {
  .card {
    padding: 20px;
  }
}

@media (max-width: 810px) {
  .card {
    width: 100%;
    max-width: calc(100% - 40px);
    padding: 20px;
  }

  .card__btn {
    margin: 0 auto;
    width: 100%;
  }

  .card__content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .card__all-chars-text {
    margin-bottom: 32px;
  }
}
