.gallery {
  margin-bottom: 180px;
}

.gallery__photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.gallery__img {
  margin: 0 20px;
  max-width: calc(33.3% - 40px);
  width: 100%;
  margin-bottom: 40px;
}

.gallery__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  align-self: center;
  margin-left: 80px;
  max-width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  /* Text/Black */
  color: #000000;
}

.gallery__link svg {
  margin-right: 28px;
  min-width: 54px;
  transition: transform 1s ease-in-out;
}


.gallery__link:hover svg {
  transform: scale(1.2);
}


@media (max-width: 1024px) {
  .gallery {
    margin-bottom: 100px;
  }
  .gallery__img {
    margin: 0;
    max-width: 100%;
    /*height: auto !important;*/

  }

  .gallery__slider {
    width: auto;
    overflow-x: hidden;
  }

  .gallery__photos {
    margin:  0;
    flex-wrap: nowrap;
  }

  .gallery__link {
    display: none !important;
  }

  .gallery__title {
    margin-bottom: 40px;
  }

  .gallery__arrows {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .gallery__arrows #prev {
    margin-right: 30px;
  }
}
