.intro-product {
  background: #f6f6f6;
}

.intro-product__content {
  padding: 80px 40px 0 40px;
  background: #ffffff;
}

.modal-header.intro-product__header {
  height: 80px;
  position: relative;
  border-bottom: 0;
  border-bottom: 0;
  padding: 0;
}

.intro-product__close {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
  background: #2F80ED;
  border-radius: 5px;
}

.intro-product__body {
  padding-left: 40px;
  padding-right: 80px;
}

.intro-product__block {
  padding-bottom: 100px;
}

.intro-product__group {
  display: flex;
  align-items: center;
}

.intro-product__pic {
  width: 50%;
}


.intro-product__pic img {
  max-width: 580px;
  width: 100%;
}

.intro-product__pic_features img {
  max-width: 400px;
}

.intro-product__about {
  width: 50%;
  padding-left: 40px;
}

.intro-product__about {
  display: flex;
  flex-direction: column;
}

.intro-product__title {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;

  /* Text/Blue */
  color: #2F80ED;
}

.intro-product__subtitle {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* Text/Grey */
  color: #828282;
}

.intro-product__text {
  max-width: 400px;
  margin: 0 0 20px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  /* or 27px */

  /* Text/Black */
  color: #000000;
}

.intro-product__text:last-child {
  margin-bottom: 0;
}

.intro-product__nav {
  margin-bottom: 10px;
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* Text/Grey */
  color: #828282;
}


.intro-product__nav-list-wrap {
  display: flex;
}

.intro-product__nav-list {
  display: flex;
  flex-direction: column;

  /*flex-wrap: wrap;
  height: 140px;*/
}

.intro-product__nav-list-wrap .intro-product__nav-list {
  max-width: 270px;
  width: 100%;
  margin-right: 40px;
}


.intro-product__nav-list li {
  /*width: 45%;*/
  margin-bottom: 10px;
}

.intro-product__nav-list a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  /* or 27px */

  /* Text/Blue */
  color: #2F80ED;
}

.intro-product__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}


.intro-product__action {
  display: flex;
}

.intro-product__header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* Text/Black */
  color: #000000;
}

.intro-product__card-price {
  margin-right: 63px;
}

.intro-product__card-price-top {
  margin-bottom: 40px;
}


@media (max-width: 810px) {
  .intro-product .h-container {
    padding: 0;
  }
  .intro-product__group {
    flex-direction: column;
  }

  .intro-product__block {
    padding-bottom: 40px;
  }

  .intro-product__pic {
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .intro-product__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    max-width: 100%;
  }

  .intro-product__about {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro-product__nav-list {
    flex-wrap: nowrap;
    height: auto;
  }

  .intro-product__nav-list li {
    width: 100%;
  }

  .modal-product__body {
    padding: 0 40px !important;
  }

  .intro-product {
    background: #ffffff;
  }

  .intro-product__content {
    padding: 0;
    padding-top: 60px;
  }

  .intro-product__details {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-product__details .card-price__old {
    font-size: 20px;
  }

  .intro-product__details .card-price__current {
    font-size: 22px;
  }

  .intro-product__details .trigger-form-btn {
    display: flex;
  }

  .intro-product__action {
    flex-direction: column;
  }

  .intro-product__block_last {
    border-bottom: 1px solid #f6f6f6;
  }
}

@media (max-width: 480px) {
  .intro-product__pic_features img {
    max-width: 360px;
    margin: 0 auto;
    display: block;
  }

  .intro-product__nav-list {
    max-width: 100%;
    margin-right: 0;
  }

  .intro-product__nav-list-wrap {
    flex-direction: column;
  }

  .intro-product__pic img {
    max-width: 100%;
  }

  .intro-product .trigger-form-btn {
    width: 100%;
    max-width: 100%;
  }
}
