.service-modal__content {
  width: 100%;
  max-width: 1280px;
  padding: 0;
}

.service-modal__dialog.modal-dialog {
  width: 100%;
  max-width: 1280px;
}

.modal-header.service-modal__header {
  height: 80px;
  position: relative;
  border-bottom: 0;
  border-bottom: 0;
  padding: 0;
}

.service-modal__close {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
  background: #2F80ED;
  border-radius: 5px;
}

.service-modal__body {
  padding-left: 40px;
  padding-right: 80px;
}

.service-modal__group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.service-modal__block {

}
