* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  overflow-x: hidden;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease-out 0s;
}

.title {
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;

  /* identical to box height */

  /* Text/Black */
  color: #000000;

}

/* Класс для скрытия элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease-out 0s;
}

.list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.h-container {
  max-width: 1280px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.blue-bg {
  background: #2F80ED;
}

.blue-color {
  color: #2F80ED;
}

.light-grey-bg {
  background: #f6f6f6;
}

.light-grey-color {
  color: #f6f6f6;
}

.dark-grey-bg {
  background: #828282;
}

.dark-grey-color {
  color: #828282;
}

.main {
  display: flex;
  flex-direction: column;
}

.link-hover {
  position: relative;
}

.link-hover:hover {
  color: #2F80ED;
}

.link-hover:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.link-hover:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2F80ED;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

@media (max-width: 1279px) {
  .h-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 810px) {
  .h-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
