* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

.body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none !important;
}

.title {
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;

  /* identical to box height */

  /* Text/Black */
  color: #000000;

}

/* Класс для скрытия элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.d-none {
  display: none;
}

.button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.h-container {
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.blue-bg {
  background: #2F80ED;
}

.blue-color {
  color: #2F80ED;
}

.light-grey-bg {
  background: #f6f6f6;
}

.light-grey-color {
  color: #f6f6f6;
}

.dark-grey-bg {
  background: #828282;
}

.dark-grey-color {
  color: #828282;
}

.main {
  display: flex;
  flex-direction: column;
}

.swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

@media (max-width: 810px) {
  .h-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
